

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-brand-first {
	background-image: 	url(../img/ETC-Logo_smalll.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 65px;
}
.jumbotron {
background: url(https://download.unsplash.com/18/trickle.JPG)top centre no-repeat;
    margin-bottom: 0;
/*
	background-image: url(../img/etc-logo-copy-0.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 100px;
*/
}
.col-md-4{
/*
    border-radius: 25px;
    background: #5C595A;
*/
}
audio {
	width: 85%;
}

}
.social-block .btn {
	width: 98%;
}
.social-block h2{
	text-align: center;
}

.twitter-tweet {
	padding-top: 2px;
}

#disqus_thread {

}
body{
background: url(https://download.unsplash.com/18/trickle.JPG)top centre no-repeat;	
}
.container{
	background: transparent;
}
