

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
/* 	    background-image: url("../img/download03-2200px.jpg");  */
	    background-image: url("../img/trickle-1400px.jpg");
/* 	  background-image: url("https://download.unsplash.com/18/trickle.JPG");  */
/* 		background-image: url("../img/The-International-Bar.jpg"); */
/*  	background-image: url("../img/live-at-the-inter-bg-001-2200px.jpg"); */
	    background-position: center top;
	    background-repeat: repeat-y;
	    background-color: black;
}

.navbar-brand-first {
	background-image: 	url(../img/ETC-Logo_smalll.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 65px;
}
.jumbotron {
    background: none;
}

.jumbotron h1 {
	color: white;
}

.page-title {
  	color: white;
    text-shadow: 3px 3px 10px #000000, -3px -3px 10px #000000;
}

.well {
	background-color: transparent;
	background-image: url("../img/trans-bg.png");
	background-repeat: repeat;
}

.well h4 {
    text-shadow: 2px 2px 4px #ffffff, -2px -2px 4px #ffffff;
}

.col-md-4{
/*
    border-radius: 25px;
    background: #5C595A;
*/
}
audio {
	width: 85%;
}

}
.social-block .btn {
	width: 98%;
}
.social-block h2{
	text-align: center;
}

.twitter-tweet {
	padding-top: 2px;
}

footer {
/* 	background-color: black; */
}
