
.sm2-360ui {

	background-image: url(../img/etc-logo256.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#sm2-container {
	height: 0px;
	width: 0px;
}

#page {
	text-align: center;
}

.sm2-inline-list{

	}